<div class="column is-one-fifth">
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
                <img src="Nova pasta/fundo.png" alt="Placeholder image" />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-content is-clipped">
                    <p class="title is-4">Nome do site</p>
                    <p class="subtitle is-6" style="margin-left: 8px;">
                        <a href="">url do site</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
