<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        <title>Document</title>
    </head>

    
    <body>
        <style>
               @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
               @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
            .hero-body{
                font-family: 'Poppins',sans-serif;
                color: white;
            }
            .all{
                width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: rgb(0, 134, 187)
   
            }
            .final{
                text-align: center;
                color: white;
            }
         .title{
            color: rgb(234, 234, 234);
	    text-justify: auto;
          }
         
          .card{
            background-color: rgb(130, 130, 130);
            text-justify: auto;
          }

          img {
	background: white;
            max-width: 290px; 
            max-height: 190px
}
.final{
    font-size: 25px;

}
.baixo{
    background: rgb(0, 134, 187);
    text-align: center;
    color: white;
}
        </style>
        <div class="all">
            <div class="hero-body">
                <p class="title has-text-centered mg-5">Aqui estão os sites criados por você!</p>
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                   <img src="Nova pasta/fundo.png"  alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-content is-clipped">
                                        <p class="title is-4">Nome do site</p>
                                        <p class="subtitle is-6" style="margin-left: 8px;">
                                            <a href="">url do site</a>
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="Nova pasta/fundo.png"  alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-content is-clipped">
                                        <p class="title is-4">Nome do site</p>
                                        <p class="subtitle is-6" style="margin-left: 8px;">
                                            <a href="fundo.png">url do site</a>
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                   <img src="Nova pasta/fundo.png"  alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-content is-clipped">
                                        <p class="title is-4">Nome do site</p>
                                        <p class="subtitle is-6" style="margin-left: 8px;">
                                            <a href="">url do site</a>
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="Nova pasta/fundo.png"  alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-content is-clipped">
                                        <p class="title is-4">Nome do site</p>
                                        <p class="subtitle is-6" style="margin-left: 8px;">
                                            <a href="">url do site</a>
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="Nova pasta/fundo.png"  alt="Placeholder image" />
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                    </div>
                                    <div class="media-content is-clipped">
                                        <p class="title is-4">Nome do site</p>
                                        <p class="subtitle is-6" style="margin-left: 8px;">
                                            <a href="">url do site</a>
                                        </p>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="final">
                <h3>é possivel visualizar os sites criados <b>clicando nos Cards acima</b></h3>
            </div>
        </div>
        <footer class="baixo">
            <p>trabalho realizado por 
                gabriel floriano 
                matheus marinho 
                robson carvalho
            </p>
            <p>Publicado para entrega em 31/07/2024 </p>
       </footer>
            
    </body>
</html>