<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/90f562a26e.js" crossorigin="anonymous"></script>
    <title>Criador de Página</title>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        .form {
            position: relative;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            border-radius: 10px;
            padding: 60px;
            width: max-content;
            align-items: center;
            color: #2b344b;
            animation: iniciar 1.6s ease-out;
            pointer-events: all;
        }
    </style>
    <div class="form">
        <form action="/paginas" method="POST" enctype="multipart/form-data">
            <input name="titulo" placeholder="Título (Na lista de páginas)" type="text">
            <input name="url" placeholder="URL Desejado" type="text">
            <textarea name="html" placeholder="Digite o HTML da página"></textarea>
            <div>
                <h1>Bem vindo a pagina de pré criação de site!</h1>

                <p>Para prosseguir escolha uma capa para seu site</p>
                <input type="file" name="imagem" accept="image/*">
            </div>
            <button type="submit">Criar Página</button>
        </form>
</body>

</html>