<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
    </head>
    <body>
        {{!
            Abaixo temos um if no mustache,
            se estiver logado, então mostra a barra navegação para login
        }}

        {{#logado}}
            {{> barra }}
        {{/logado}}
        {{^ logado }}
            <nav>
                <a href="/criarPagina"><button type="button">Criar Nova Página</button></a>
            </nav>
        {{/ logado }}
    </body>
</html>
