<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{#logado}}
            {{> barra }}
        {{/logado}}

        {{^ logado }}
            <nav>
                <a href="/criarPagina"><button type="button">Criar Nova Página</button></a>
            </nav>
        {{/ logado }}

        {{!
            Lista de todas as páginas em formato de card
        }}
        {{^paginas.length}}
            <h1>Ainda não foram criadas páginas</h1>
        {{/paginas.length}}

        {{#paginas.length}}
            {{> cards }}
        {{/paginas.length}}
</body>
</html>
